h1 {
  text-align: center;
  margin: 35px 0 20px 0 !important;
  color: red;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.send-btn {
  background-color: transparent;
  border: 1px solid red;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.3s;
  margin: auto; /* Move button to the center */
}

.send-btn:hover {
  background-color: red;
  color: white;
  animation: move 1s infinite alternate;
}

.send-btn:active {
  background-color: red;
  color: white;
}

.red-text {
  color: red;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
}
